/mandyoc
__pycache__
.pytest_cache

# Ignore the documentation building folder
docs/_build

# Ignore output when run the test
tests/**/output

# Ignore output when run the examples
examples/*/density_*
examples/*/heat_*
examples/*/pressure_*
examples/*/strain_*
examples/*/strain_rate_*
examples/*/temperature_*
examples/*/sp_surface_global_*
examples/*/viscosity_*
examples/*/step_*
examples/*/time_*
examples/*/bc_*
examples/*/velocity_*
examples/*/*_init.bin
examples/*/*_init.bin.info


# Ignore the input file due to they can be generated using the script
examples/*/input_temperature_0.txt
examples/*/input_velocity_0.txt
examples/*/param.txt
examples/*/interfaces.txt

# Ignore some examples figures
examples/continental_rift/*.png
examples/Crameri2012_case2/interfaces.png

.vscode/
.DS_store

examples/*/.ipynb_*

# Ignore build files:
src/*.o

